@use '../../styles/scss/colors/globals.scss';

.coffee-machine {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    & h1 {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    margin-top: 2.25rem;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 10rem;
      height: 10rem;
    }

    & label {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 1.25rem;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;

      & > button {
        margin: 0 0.875rem;
      }

      & > label {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;

    & > h3 {
      font-size: 16px;
      font-weight: 600;
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }

    &-card {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: globals.$background;
      font-size: 12px;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
      }

      & > h4 {
        font-weight: 600;
      }

      & > p {
        font-weight: 400;
        color: globals.$text-light;
      }
    }
  }

  &__statistics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;

    & > h3 {
      font-size: 16px;
      font-weight: 600;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1px;

      & > li {
        background-color: globals.$background;
        padding: 0.75rem;
        gap: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        & > h4 {
          font-weight: 400;
        }

        & > span {
          font-weight: 600;
        }

        &:first-of-type {
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
        }

        &:last-of-type {
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
      }
    }
  }
}
