$primary: #0f0f0f;
$primary-pressed: #1d1d1d;
$primary-text: #ffffff;
$secondary: #edeff5;
$secondary-pressed: #e0e3ef;
$secondary-text: #0f0f0f;
$tertiary: #ffffff;
$tertiary-text: #0f0f0f;
$tertiary-pressed: #f0f0f0;
$disabled: #c9cdde;
$disabled-text: #9096ac;
