@use '../../styles/scss/fonts.scss';
@use '../../styles/scss/colors/globals.scss';

.home {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
      font-family: fonts.$domine;
    }
  }

  &__main {
    margin-top: 0.75rem;
  }

  &__placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: globals.$background;
    padding: 0.75rem;
    border-radius: 1rem;

    &-content {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & > img {
        width: 3.5rem;
        height: 3.5rem;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & > h3 {
          font-size: 16px;
          font-weight: 500;
        }

        & > p {
          font-size: 12px;
          color: globals.$text-light;
        }
      }
    }
  }
}
