@use '../../styles/scss/fonts.scss';

.home {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
      font-family: fonts.$domine;
    }
  }

  &__main {
    margin-top: 0.75rem;
  }
}
