.label {
  font-size: 0.625rem;
  font-weight: 500;
  padding: 0.375rem 0.625rem;
  border-radius: 50vh;

  &--success {
    background-color: #adecd2;
  }

  &--warning {
    background-color: #ffcbae;
  }
}
