@use '../../styles/scss/colors/globals.scss';
@use '../../styles/scss/colors/button.scss';

.coffee-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  &__item {
    & > button {
      font-size: 16px;
      font-weight: 500;
      border-radius: 1rem;
      padding: 1.5rem 0.75rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: button.$secondary;
      cursor: pointer;
      color: button.$secondary-text;

      & > img {
        width: 100%;
        height: 100%;
      }

      &:active {
        background-color: button.$secondary-pressed;
      }
    }
  }
}

.loading-container {
  &__progress {
    width: 100px;
    height: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;

    & > h3 {
      margin-top: 2.25rem;
      font-size: 20px;
      font-weight: 600;
    }

    & > p {
      margin-top: 0.5rem;
      font-size: 16px;
      color: globals.$text-light;
      width: 60%;
      text-align: center;
    }
  }

  &__button {
    margin-top: 1.5rem;
  }
}
