@use '../../styles/scss/colors//globals.scss';

.profile-image {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background-color: globals.$background;
  display: flex;
  align-items: center;
  justify-content: center;
  color: globals.$text;

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
