@use '../../styles/scss/colors/globals.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;

  &__content {
    margin-top: auto;
    background-color: globals.$background;
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    padding: 1.25rem;
    padding-bottom: 3rem;
    width: 100%;
  }

  &__main {
    margin-top: 0.75rem;
  }
}
