@use '../../styles/scss/colors/button.scss';

.icon-button {
  border-radius: 50vh;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--default {
    background-color: button.$secondary;
    color: button.$secondary-text;

    &:active {
      background-color: button.$secondary-pressed;
    }
  }

  &--transparent {
    background-color: transparent;
    color: button.$primary;

    &:active {
      background-color: button.$secondary-pressed;
    }
  }

  &--white {
    background-color: button.$tertiary;
    color: button.$tertiary-text;

    &:active {
      background-color: button.$tertiary-pressed;
    }
  }

  &--small {
    width: 1.5rem;
    height: 1.5rem;

    & svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--medium {
    width: 2rem;
    height: 2rem;

    & svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--large {
    width: 2.5rem;
    height: 2.5rem;
  }

  &--disabled {
    background-color: button.$disabled;
    color: button.$disabled-text;
    cursor: not-allowed;

    &:active {
      background-color: button.$disabled;
    }
  }
}
